body {
	min-width: none;
	min-height: nonepx;
	background-color: #fff;
	font: 600 4.625em/1.3 'Source Sans Pro',GujaratiSangamMN,sans-serif;
	color: #323232;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	-ms-transform: none;
	transform: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
	-webkit-filter: none;
	-moz-filter: none;
	-o-filter: none;
	-ms-filter: none;
	filter: none
}

.nav-about:active,.nav-about:hover,.nav-contact:active,.nav-contact:hover,.nav-gallery:active,.nav-gallery:hover,.nav-home:active,.nav-home:hover {
	text-decoration: line-through
}

.navigation {
	position: fixed;
	top: 70px;
	left: 0;
	right: 0;
	z-index: 11;
	width: 100%;
	max-width: 1520px;
	height: 23px;
	margin: 0 auto
}

.nav-home {
	display: block;
	position: absolute;
	top: 0;
	left: 5%;
	z-index: 10;
	width: 181px;
	font-size: .189em;
	font-weight: 400;
	line-height: 1.38;
	letter-spacing: 1px;
	word-spacing: 5px;
	color: #323232
}

.navigation-right {
	position: absolute;
	top: 0;
	right: 5%;
	z-index: 9;
	width: 250px;
	height: 23px
}

.nav-gallery {
	display: block;
	position: absolute;
	top: 0;
	right: 190px;
	z-index: 6;
	width: 60px;
	font-size: .189em;
	font-weight: 400;
	line-height: 1.38;
	text-align: center;
	letter-spacing: 1px;
	color: #323232
}

.nav-about {
	display: block;
	position: absolute;
	top: 0;
	right: 101px;
	z-index: 8;
	width: 50px;
	font-size: .189em;
	font-weight: 400;
	line-height: 1.38;
	text-align: center;
	letter-spacing: 1px;
	color: #323232
}

.nav-contact {
	display: block;
	position: absolute;
	top: 0;
	right: 1px;
	z-index: 7;
	width: 60px;
	font-size: .189em;
	font-weight: 400;
	line-height: 1.38;
	text-align: center;
	letter-spacing: 1px;
	color: #323232
}

.header {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 1118px;
	text-align: center;
	vertical-align: middle;
	max-height: 360px;
	margin: auto;
	font-size: 1em;
	letter-spacing: 7px;
	word-spacing: 10px;
	color: #323232;
	word-break: normal
}

.header a,.header span {
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 0;
	border-color: transparent;
	border-style: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background-color: transparent;
	font-family: inherit;
	font-style: inherit;
	font-size: inherit;
	font-weight: inherit;
	text-transform: inherit;
	text-decoration: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	color: #0008ff;
	opacity: 1;
	word-break: normal;
	word-wrap: normal;
	white-space: normal
}

.header em {
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 0;
	border-color: transparent;
	border-style: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background-color: transparent;
	font-family: inherit;
	font-style: inherit;
	font-size: inherit;
	font-weight: inherit;
	text-transform: inherit;
	text-decoration: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	color: inherit;
	opacity: 1;
	word-break: normal;
	word-wrap: normal;
	white-space: normal
}

.ello {
	right: 120px;
	z-index: 3
}

.dribbble {
	right: 80px;
	z-index: 4
}

.instagram {
	right: 40px;
	z-index: 1
}

.email {
	right: 0;
	z-index: 2
}

.icon-social {
	display: block;
	position: absolute;
	top: 0;
	width: 24px;
	height: auto;
	opacity: .2;
	overflow: hidden;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out
}

.icon-social:hover {
	opacity: 1
}

.socials {
	position: fixed;
	bottom: 70px;
	left: 0;
	right: 0;
	z-index: 5;
	width: 144px;
	height: 24px;
	margin: 0 auto
}

@media screen and (max-width:1250px) {
	body {
		font-size: 4.375em
	}

	.header {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 816px;
		text-align: center;
		vertical-align: middle;
		min-width: 489px;
		max-height: 280px;
		margin: auto;
		font-size: 50px;
		letter-spacing: 5px;
		word-spacing: 7px
	}

	.navigation {
		top: 50px;
		left: 0;
		right: 0;
		width: 100%;
		margin-right: auto;
		margin-left: auto
	}

	.navigation .nav-home {
		left: 5%;
		width: 172px;
		font-size: .229em
	}

	.navigation .navigation-right {
		right: 5%;
		width: 250px
	}

	.navigation-right .nav-about,.navigation-right .nav-contact,.navigation-right .nav-gallery {
		font-size: .229em
	}

	.socials {
		bottom: 50px;
		left: 0;
		right: 0;
		width: 130px;
		height: 25px;
		margin-right: auto;
		margin-left: auto
	}

	.icon-social {
		width: 25px;
		height: auto
	}

	.ello {
		right: 105px;
		z-index: 3
	}

	.dribbble {
		right: 70px;
		z-index: 4
	}

	.instagram {
		right: 35px;
		z-index: 1
	}

	.email {
		right: 0;
		z-index: 2
	}
}

@media screen and (max-width:900px) {
	body {
		font-size: 2.75em
	}

	.header {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 686px;
		vertical-align: middle;
		text-align: center;
		min-width: 686px;
		max-height: 240px;
		margin: auto;
		font-size: 40px;
		letter-spacing: 4px;
		word-spacing: 4px;
		word-break: keep-all
	}

	.navigation {
		top: 40px;
		left: 0;
		right: 0;
		height: 22px;
		margin-right: auto;
		margin-left: auto
	}

	.navigation .nav-home {
		left: 4.6%;
		width: 172px;
		font-size: .267em
	}

	.navigation .navigation-right {
		right: 4.6%;
		height: 22px;
		width: 251px
	}

	.navigation-right .nav-about,.navigation-right .nav-contact,.navigation-right .nav-gallery {
		font-size: .267em
	}

	.socials {
		bottom: 40px;
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto
	}

	.icon-social {
		height: auto
	}
}

@media screen and (max-width:736px) {
	body {
		font-size: 2.5em
	}

	.header {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 489px;
		vertical-align: middle;
		text-align: center;
		min-width: 0;
		max-height: 160px;
		margin: auto;
		font-size: 30px
	}

	.navigation {
		top: 30px;
		left: 0;
		right: 0;
		width: 100%;
		margin-right: auto;
		margin-left: auto
	}

	.navigation .nav-home {
		left: 5%;
		width: 172px;
		font-size: .4em
	}

	.navigation .navigation-right {
		top: auto;
		right: 5%;
		height: 22px;
		width: 225px
	}

	.navigation-right .nav-about {
		right: 88px;
		font-size: .4em
	}

	.navigation-right .nav-contact {
		font-size: .4em
	}

	.navigation-right .nav-gallery {
		right: 165px;
		font-size: .4em
	}

	.socials {
		bottom: 30px;
		left: 0;
		right: 0;
		width: 130px;
		height: 25px;
		margin-right: auto;
		margin-left: auto
	}

	.icon-social {
		width: 25px;
		height: auto
	}

	.ello {
		right: 105px;
		z-index: 3
	}

	.dribbble {
		right: 70px;
		z-index: 4
	}

	.instagram {
		right: 35px;
		z-index: 1
	}

	.email {
		right: 0;
		z-index: 2
	}

	.icon-social:hover {
		opacity: .2
	}

	.icon-social {
		-webkit-transition: opacity .2;
		-moz-transition: opacity .2;
		-ms-transition: opacity .2;
		-o-transition: opacity .2;
		transition: opacity .2
	}
}

@media screen and (max-width:568px) {
	.header {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 90%;
		margin: auto;
		line-height: 1.2;
		vertical-align: middle;
		text-align: center;
		letter-spacing: 2px;
		word-break: normal
	}

	.navigation {
		top: 20px;
		left: 0;
		right: 0;
		height: 20px;
		margin-right: auto;
		margin-left: auto
	}

	.navigation .nav-home {
		left: 4.5%;
		height: 20px;
		width: 163px;
		font-size: .375em
	}

	.navigation .navigation-right {
		top: 0;
		right: 4.5%;
		height: 20px;
		width: 186px
	}

	.navigation-right .nav-about {
		right: 71px;
		width: 45px;
		font-size: .375em
	}

	.navigation-right .nav-contact {
		width: 55px;
		font-size: .375em
	}

	.navigation-right .nav-gallery {
		right: 130px;
		width: 55px;
		font-size: .375em
	}

	.socials {
		bottom: 20px;
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto
	}

	.socials .icon-social {
		height: auto
	}

	.header em {
		color: #0008ff
	}
}

@media screen and (max-width:420px) {
	body {
		font-size: 2.5em
	}

	.header {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 92.14%;
		max-height: 260px;
		margin: auto;
		line-height: 1.3
	}

	.navigation {
		left: 0;
		right: 0;
		height: 40px;
		margin-right: auto;
		margin-left: auto
	}

	.navigation .nav-home {
		left: 5%;
		width: 80px
	}

	.navigation .navigation-right {
		top: auto;
		right: 5%
	}

	.socials {
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto
	}

	.socials .icon-social {
		height: auto
	}
}

@media(max-width:375px) {
	.header {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto
	}

	.navigation .navigation-right {
		right: 5%
	}

	.navigation .nav-home {
		width: 80px
	}

	.navigation,.socials {
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto
	}

	.socials .icon-social {
		height: auto
	}
}